body
{
    background-image: url(https://th.bing.com/th/id/OIP.uiP3iQuPVVJGouSfPHBEUAHaEK?pid=ImgDet&rs=1);
    background-size:cover;
}

#welcome_label
{
    font-size: 45px;
    font-family: 'Lobster', cursive;
}

.login_div
{
    background-color:white;
    border-radius: 50px;
    float: none;
    margin-top: 40px;
}

#user_name
{
    width:400px;
}

h5
{
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

h3
{
    font-family: 'Lobster', cursive;
}

h1
{
    color: white;
    margin-top: 80px;
    font-size: 65px;
    font-family: 'Lobster', cursive;
}

#login_button
{
    margin-bottom: 40px;
    width: 80%;
    font-size: 20px;
    letter-spacing: 2px;
}